$color-white: #ffffff;
$color-green: #22a75d;
$color-fog: #dde2ff;
$color-gold: #ffd100;
$color-cerulean: #00b4ec;
$color-blu: #2b3087;
$color-mirage: #171b29;
$color-mariner: #2278d4;
$color-vulcan: #0f1320;
$color-black: #000000;
$color-mercury: #e5e5e5;
$color-red: #e20613;
$color-gray: #9fa1a6;
$color-shark: #191b21;
$color-whisper: #f7f5f9;
$color-manatee: #949bab;
$color-denim: #0f87ca;
$color-cinder: #0d0b16;

$font-gothic-regular: "Century Gothic Regular";
$font-gothic-bold: "Century Gothic Bold";
$font-gothic-bold-italic: "Century Gothic Bold Italic";

$font-sans-regular: "Azo Sans Regular";
$font-sans-medium: "Azo Sans Medium";
$font-sans-bold: "Azo Sans Bold";
